// ==================== Navbar ====================
$navbar-height: 80px; // default: 60px

// ==================== Layout ====================
$course-content-maxwidth: 100%; // 1920px;
// $medium-content-maxwidth: 1920px;
$page-content-side-paddings: 15px;

// ==================== Colors ====================
// $primary: #B00C2F;